In [8]:
import pandas as pd
import numpy as np

# Create an example dataframe with 10000 obs
df = pd.DataFrame({
    'a': np.random.randn(10000),
    'b': np.random.randn(10000),
}, index=pd.date_range('1/1/2000', periods=10000, freq='H'))

df.head(10)

                            a         b
2000-01-01 00:00:00 -0.412194 -1.409339
2000-01-01 01:00:00  0.277777  0.595180
2000-01-01 02:00:00 -1.847100  0.439967
2000-01-01 03:00:00 -1.042442 -0.594541
2000-01-01 04:00:00 -1.203682  0.969593
2000-01-01 05:00:00 -1.314090 -1.599574
2000-01-01 06:00:00 -0.832907 -1.349589
2000-01-01 07:00:00 -0.304811 -1.732705
2000-01-01 08:00:00  0.002474 -1.610010
2000-01-01 09:00:00  0.430412 -0.596628